:root {
  --main-bg-color: #fff;
  --second-bg-color: #d9d9d9;
  --color-palatte1: ##fcc737;
  --color-palatte2: ##f26b0f;
  --color-palatte3: ##e73879;
  --color-palatte4: ##7e1891;
  --color-palatte5: #d9d9d9;
  font-family: "Inter", "Plus Jakarta Sans";
  font-size: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h3 {
  font-size: 2rem;
  font-weight: 600;
  font-family: "Plus Jakarta Sans";
  line-height: 3rem;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 1.6;
}

a {
  text-decoration: none;
  color: inherit;
}

button:hover {
  cursor: pointer;
}

.navbar {
  background-color: var(--second-bg-color);
  width: 100%;
  height: 13.1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  border: 1px solid black;
  padding: 0 6.4rem 0 6.4rem;
  font-family: "Plus Jakarta Sans";
}

.navbar > .logo {
  margin-right: auto;
}

.navbar > div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  color: white;
}

.navbar--sign > a {
  text-decoration: underline;
}

.navbar div a {
  padding: 2rem;
}

.navbar--sign {
  margin-left: 2rem;
  position: relative;
}

.navbar--sign::before {
  content: "";
  width: 1px; /* Adjust as necessary for line thickness */
  height: 21px;
  background-color: rgba(250, 250, 250, 0.8); /* 80% opacity */
  position: absolute;
  top: 50%; /* Align to the top of the element */
  transform: translateY(-50%);
  left: -1rem; /* Adjust spacing from the element */
}

.navbar > div > ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.sign--in {
  width: 8.2rem;
  height: 3.8rem;
  background-color: var(--main-bg-color);
  color: #1a202c;
  font-size: 1.4rem;
  font-weight: 500;
  font-family: "Plus Jakarta Sans";
  border-radius: 0.4rem;
  border: none;
}

.home {
  color: black;
}

.grid--container {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  gap: 1.6rem;
  padding: 20px;
  direction: ltr;
  padding: 8rem 6rem;
}

.footer--card {
  line-height: 2.4rem;
}
